numpy<2.0
SimpleITK>=2.2
pyradiomics==3.0.1
PyYAML>=6.0.1
openai
anthropic
langchain
langchain-openai
langchain-anthropic
langchain-community
langgraph
chainlit
pandas
matplotlib
pydicom
totalsegmentator
nibabel
dicom2nifti
supabase
python-dotenv
flask
idc_index
ipywidgets
pathlib
regex
tqdm
monai
torch
tabulate
plotly
asyncpg
asyncio
gen3
duckdb
